
.slide{
    height: 90vh;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.slide1{
    background-image: url("/img/a.jpg");
    border-radius: 20px;
    
}
.slide2{
    background-image: url('/img/b.jpg');
    border-radius: 20px;
}
.slide3{
    background-image: url('/img/c.jpg');
    border-radius: 20px;
}
.slide4{
    background-image: url('/img/d.jpg');
    border-radius: 20px;
}
.slide5{
    background-image: url('/img/e.jpg');
    border-radius: 20px;
    
}
.slide6{
    background-image: url('/img/f.jpg');
    border-radius: 20px;
}